<h1><%=@project.name%></h1>

<ul>
<% @project.entries.each do |entry| %>
	<li>
		<%=entry.hours %> hours
		<%=entry.minutes%> minutes - 
		<%=entry.date%>
	</li>
	<%end%>
	<%= link_to("Projects", projects_path) %>
		<% link_to("New Entry", new_project_entry_path(@project))%>

</ul>