<div class="nav nav-pills nav-stacked">
	<h3> Concerts This Month </h3>
	<ul>
	<% @concerts_this_month.each do | concert | %>
	<li>
		<%= link_to "#{concert.artist} 
					 #{concert.city} 
					 #{concert.venue} 
					 #{concert.date}", concert_path(concert)%><br>
		<!-- this link structure above is the same as the link structure 
		below, just with rails helpers -->
	</li>
	<% end%>
</ul>
</div>


<div class = "container">
	<h3> Concerts Today </h3>
	<ul>
		<% @concerts_today.each do | concert | %>
			<li>
				<a href ="/concerts/<%=concert.id%>"> 
					<%= concert.artist %><br>
					<%= concert.city %><br>
					<%= concert.venue %><br>
					<%= concert.date %>
				 </a>
			</li>
			<br>
		<% end %>
	</ul>
<%= link_to("Add a New Concert", new_concert_path ) %>
</div>
